<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome To The Weight Tracker App</h1>
      </div>
    </div>
    <div class="anchor-class">
      <a href="/weightdata"><h5>Click here to record weight</h5></a>
    </div>
    <img src="{%static "images/boxing.jpg"%}" alt="Ooops! image didn't load" class = "center">
  </body>
</html>
