<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>weightdata</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <h1>Make your weight entries</h1>
    <div class="">
      <form method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' value="submit">
      </form>
    </div>

    <p></p>

    <table style="width:100%" border="2px">
      <tr>
        <th>Date</th>
        <th>weight</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
      {% for weight in weight_records %}
      <tr>
        <td>{{ weight.entry_date }}</td>
        <td>{{ weight.weight_entry }}</td>
        <td><button type="modify button" name="button" onclick="openForm({{ weight.id }},'{{ weight.entry_date }}',{{ weight.weight_entry }})">Modify</button></td>
        <td><button type="delete button" name="button" method="DELETE">Delete</button></td>
      </tr>
      {% endfor %}
    </table>

    <div class="modal" id="myForm">
      <div class="modal-content">
        <form method="post" action="edit" class="form-container">
            {% csrf_token %}
          <span class="close">&times;</span>

          <input hidden type="number" id="id" name="id" value="">

          <label for="date">Entry Date</label>
          <input id="date"type="text" name="date" value="">

          <label for="weight">Weight Entry</label>
          <input id="weight" type="text" name="weight" value="">

          <input type="submit">
          <button id="btn-close" onclick="closeForm()">Cancel</button>
        </form>

      </div>
    </div>

    <script src="{% static "js/modal.js" %}"></script>

  </body>
</html>
